@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


:root {
    --clr-strong-cyan: hsl(171, 66%, 44%);
    --clr-light-blue: hsl(233, 100%, 69%);
    --clr-dark-grayish-blue: hsl(210, 10%, 33%);
    /*changed text color for better contrast, was hsl(202, 11%, 66%) */
    --clr-grayish-blue: hsl(202, 6%, 51%);

    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    color: var(--clr-grayish-blue);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2, 
h3, 
h4 {
    color: var(--clr-dark-grayish-blue);
}

section {
    padding: 3rem 0;
}

.hero {
    background-image: url(./images/bg-header-desktop.png);
    background-position: top center;
}